@using CampRating.Data.ViewModels
@model UserVM
@{
    ViewData["Title"] = "User Details";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>User Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">User ID</dt>
                <dd class="col-sm-9">@Model.Id</dd>

                <dt class="col-sm-3">First Name</dt>
                <dd class="col-sm-9">@Model.FirstName</dd>

                <dt class="col-sm-3">Last Name</dt>
                <dd class="col-sm-9">@Model.LastName</dd>

                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">@Model.UserName</dd>

                <dt class="col-sm-3">Role</dt>
                <dd class="col-sm-9">@Model.Role</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/user-details.css" />
}
